.seccion {
    border-top: 2px solid white;
    justify-content: center;
    padding: 0.75rem;
}
.seccion a{
    color: white;
    display: block;
    text-align: center;
}
.seccion a:hover {
    text-decoration: underline;
}

table {
    margin: 2rem;
}   
table td {
    padding: 0.5rem;
    border: 1px solid gray;
}